
{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Index
        
    {% endblock title %}</title>

    {% block homeactive %}active{% endblock homeactive %}
{% block body %}
    <style>
        *{
            margin:0px;
            padding:0px;
        }
    .contain{
        margin-top:-5px;
    }
    .bgimage{
        background-image:url({% static 'image/pic2.jpg' %});
        height:70vh;
        display:flex;
        align-item:center;
        justify-content:center;  
    }
        .content{
          
        }
        .content h4{
            color:	#F8F8F8;
            font-family: 'Dongle', sans-serif;
            font-size:7vw;
            letter-spacing: 1px;
            margin-top:7rem;
            text-shadow: 2px 3px 4px #000000;
        }

        .img-fluid {
            max-width: 100%;
            height: 250px;
            object-fit:cover;
        }

        .btn-btn{
            display:flex;
            align-item:center;
            justify-content:center;
        }
        .btn-btn a{
            border:2px  solid  ;
            padding:10px 30px;
            border-radius:50px;
            background:#1D1B1B;
            color:#fff;
            font-weight:500;
           margin-button:5rem
        }

        .card-body h5{
            margin-bottom:1.4rem;
             color:black;
          }

         
{% comment %} footer {% endcomment %}

      .footer-bg{
        background-color:#383644;
      }
      .container-fluid{
        width:97%
        
      }
      
      h4{
        color:black;
        opacity:0.7;
      }
      .social-link{
        color:#fff;
        opacity:0.8;
        padding:10px 10px;
        margin:0px 20px;
        font-size:1.3rem
      }
      
      .text-align{
        text-align:left;
        font-size:1.1rem;
        letter-spaceing:1px;
        
      }

      #horizontal-line{
     
      }
      .py-3 {
        padding-bottom:0px !important;
      }
      .col-md-3 h4{
        color:#F5DEB3;
      }
      .col-md-3 h6, h5{
        color:white;
      }
      {% comment %} alert {% endcomment %}
      .alert {
        padding: 0.3rem 0.3rem;
      }
      .btn-close{
        height:0;
      }
      .alert-dismissible .btn-close{
        padding: 1rem 0.9rem;
      }
    </style>
   
    {% comment %} error messages {% endcomment %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong class="message">{{message}}</strong> 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>     
          {% endfor %}
      {% endif %}
    <div class="contain">
        <div class="bgimage">
            <div class="content">
                <h4>
                    Get the latest news in your one click..
                </h4>     
            </div>
        </div>
    </div>

    {% if content %}
    {% for contents in content %}
    <div class="container my-5"> 
        <div class="card  mb-3" style="">
            <div class="row col-md-12  g-0">
              <div class="col-md-3 p-3">
                <img src="{{contents.image.url}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{contents.title}}</h5>
                  <p class="card-text">{{contents.text|truncatechars:300}}</p>
                  <a class='readmore btn btn-sm btn-dark' href="/blog/{{contents.slug}}">Read More</a>
                  <p class="card-text"><small class="text-muted">Last updated {{contents.time}}</small></p>
                  <a href="">By-{{contents.author}}</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    <hr>
    {% endfor %}
    {% endif %}
    <div class="btn-btn mb-5">
        <a href="/blog">View all</a>
    </div>

    {% endblock body %}

    {% block footer %}

   {% comment %} footer {% endcomment %}
    <footer>

    <div class="container-fluid footer-bg">
        <div class="row text-center justify-content-evenly py-2">
        <div class="col-md-3 ">
            <h4>About Us</h4>
            <h5 class='text-align'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, veniam obcaecati expedita ullam facere impedit. Veritatis dolorum neque minima assumenda quis cumque consequatur expedita unde mollitia dolorem reiciendis, suscipit exercitationem.</h5>
        </div>
        <div class="col-md-3 ">
            <h4>Quick links</h6>
            <h6>About</h6>
            <h6>Quick link</h6>
            <h6>FAQ</h6>
            <h6>Privacy Policy</h6>
            <h6>Terms & conditions</h6>
        </div>
        <div class="col-md-3 ">
            <h4>Get in Touch </h4>
            <h6>
            Street:  500123, Shankar Market, Gali Sikli Garan, Nabi Karim<br>

            City: Gujrat<br>

            State/province/area: Gujrat<br>

            Phone number  0112345678<br>

            Zip code  110055<br>

            Country calling code  +91<br>

            Country  India
            </h6>
        </div>
        </div>
        <hr id='horizontal-line'>
        <div class="col-12 text-center ">
        <span>
        <i class=" social-link bi bi-facebook"></i>
        <i class=" social-link bi bi-whatsapp"></i>
        <i class=" social-link bi bi-twitter"></i>
        </span>
        </div>
    </div>
</footer>

{% endblock footer %}

